<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="/add-product" method="post">
        <p>Car Brand</p>
        <input type="text" name="cname" id="cname">
        <p>Car Price</p>
        <input type="text" name="cprice" id="cprice">
        <p>Car Year</p>
        <input type="text" name="cyear" id="cyear">
        <p>Car Image</p>
        <input type="file" name="img" id="img">
        <input type="submit" value="Save info">
    </form>
</body>
</html>