<div>
    <div>
        <form action="/signup" method="get">
            <input type="submit" value="Sign Up">
        </form>
        <form action="/login" method="get">
            <input type="submit" value="Login">
        </form>
        <form action="/file" method="post">
            <input type="file" name="file" id="file">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>