<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>

<body>
    <% if (cars.length > 0) { %>
        <% cars.map(car => {  %>
            <p>
                <%= car.name %>
            </p>
        <% }); %>
    <% } else { %>
        <h1>No Cars found</h1>
    <% } %>
</body>
</html>